<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header') %>

    <main>
        <h1> Interest Category Details </h1>
        <table>
        <tr> <td> User ID: </td> <td> <%= onerec.user_id %> </td> </tr>
        <tr> <td> Category ID: </td> <td> <%= onerec.category_id %> </td> </tr>
        <!-- <tr> <td> Image: </td> <td> <%= onerec.prodimage %> </td> </tr> -->
        </table>

    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>