<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
    <%- include('partials/head') %>
</head>

<body>

    
        <%- include('partials/header') %>
    
    
        <main>
            <h1>index stuff here</h1>
            <h2>Books Catalog</h2>
            <h1><%= passedData %></h1>

        
            <% passedData.forEach((element, index) => { %>
                <p>Title:<%= element.title %> </p>
                <p>Author:<%= element.author %> </p>
                 <p>Published Date:<%= element.publishedAt %> </p>
                
            <% }); %>
            
        </main>

        
        <%- include('partials/footer') %>
</body>

</html>