<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Index page</title>
    <%- include('partials/head') %>
</head>

<body>

<%- include('partials/header') %>

<main>
    <p>You have <%= session.cart ? session.cart.length : 0 %> items in your <a href="/catalog/cart">cart</a>.</p>
    <% console.log(session.cart) %>



    <div class="product-grid">


        <% if (allrecs.length > 0) {%>

                <% allrecs.forEach((recref, index) => { %>
                <div class="product-item">
                    <!-- Product details go here -->
                    <a class="gig-title" href="gigs/<%= recref.service_id%>/show"><%= recref.title %></a>
                    <a href="gigs/<%= recref.service_id%>/show"><img src="img/gig_img/<%= recref.gigimage%>" alt="" class="gig-image"> </a>
                    <p class="gig-description"><%= recref.description %></p>
                    <p class="gig-delivery-time">Delivery time: <%= recref.delivery_time %> days</p>
                    <p class="gig-price"><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(recref.price)  %></p>

                    <a class="gig-title" href="gigs/<%= recref.service_id%>/show"><button class="buy-button">Purchase</button></a>


                </div>


                <% }); %>

        <% } %>


    </div>

    <div class="ad-banner">

        <% if (promolist.length > 0) {%>

            <% promolist.forEach((recref, index) => { %>
                <img src="img/ads/<%= recref.promoimage %>" alt="Ad banner">

            <% }); %>
        <% } %>

    </div>

</main>

<%- include('partials/footer') %>
</body>

</html>
