<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1> Edit Record</h1>
        <form action="/categories/save" method="post">
            <input type="hidden" name="category_id" value="<%= onerec.category_id %>" >
            <table>
                <tr> <td> Category Name: </td> <td> <input type="text" name="category_name" value="<%= onerec.category %>" required> </td> </tr>
                <tr> <td> Menu Category ID: </td> <td> <input type="text" name="menu_category_id" value="<%= onerec.menu_category_id %>" required> </td> </tr>
                <!-- <tr> <td> Image: </td> <td> <input type="text" name="prodimage" required> </td> </tr> -->

            </table>
            <button type="submit">Save</button>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>

